html {
  font-size: 16px;
  font-family: 'Tinos', serif;
}

header {
  display: flex;
  background-color: white;
  height: 4rem;
  width: 100%;
  margin: auto;
  position: fixed;
  border-bottom: 2px solid #4c9ed9;
}

header .container {
  display: flex;
  width: 100%;
  margin: auto;
  background-color: #fff;
}

header .mobile {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  padding-left: 1.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: auto;
}

nav li {
  display: inline-flex;
  margin: 0rem 1rem;
  padding-right: 1.5rem;
}

a {
  text-decoration: none;
  padding: 0.5rem;
  text-align: left;
  color: #000000;
}

a:hover {
  color: #eb5368;
  transition: color 100ms linear;
}

.name {
  display: flex;
  align-items: center;
}

#name1 {
  font-weight: 700;
  color: #1d4f73;
}

#name2 {
  font-weight: 500;
  color: #000000;
}

ol, ul {
  list-style: none;
}

.nav-content li {
  display: inline-block;
  flex-wrap: wrap;
}

.container {
  max-width: 100%;
  margin: auto;
  background-color: #a9bacb;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner img {
  margin: 2rem;
  padding-top: 4rem;
  width: 60%;
}

.headline-container {
  width: 40%;
  margin: 1.5rem;
}

.headline h1 {
  font-family: 'OpenSans', sans-serif;
  text-align: left;
  font-size: 4rem;
  font-weight: 700;
  padding-top: 2rem;
}

.headline h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem 0rem;
}

.headline p {
  font-family: 'OpenSans', sans-serif;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  background-color: #4c9ed9;
  padding: 0.5rem 0rem;
}

.headline p:hover {
  background-color: #eb5368;
  transition: background-color 100ms linear;
}

.headline a {
  color: #fff;
  }

.main.container {
  display: flex;
  max-width: 100%;
  margin: auto;
  background-color: #f5f7fa;
}

.main-info {
  width: 60%;
  margin: 2rem;
}

.main-info img {
  max-width: 100%;
  margin: auto;
}

.main-info h1 {
  font-family: 'OpenSans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 2rem;
}

.main-info p {
  width: 100%;
  margin: auto;
  font-weight: 300;
  padding-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

.info-container {
  max-width: 40%;
  display: block;
}

.info-content {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
}

.info-content:hover {
  background-color: #a9bacb;
  transition: background-color 100ms linear;
}

.info-content .desktop {
  max-width: 35%;
}

.desktop img {
  width: 100%;
  margin: auto;
}

.info-content .mobile {
  display: none;
}

.info-content .info-text {
  max-width: 65%;
}

.info-text {
  max-width: 100%;
  margin: auto;
  align-items: center;
  padding: 0.25rem 0rem;
}

.info-text h2 {
  margin: auto;
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.info-text p {
  width: 100%;
  margin: auto;
  padding: 0.5rem 0rem;
}

.info-text a {
  width: 100%;
  margin: auto;
  padding: 0.5rem 0rem;
  color: #0088cc;
  font-weight: bold;
}

.info-text a:hover {
  color: #eb5368;
  transition: color 100ms linear;
}

.main {
  width: 100%;
  padding: 2rem 0rem;
  background-color: #a9bacb;
}

.course.container {
  display: flex;
  flex-direction: column;
}

.course.container h1 {
  font-family: 'OpenSans', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 2rem;
}

.course-content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 3.5rem;
}

.courses {
  max-width: 28%;
  margin: 1rem 1rem;
  background-color: #fff;
}

.courses img {
  width: 100%;
  margin: auto;
}

.courses h2 {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.courses .title {
  width: 100%;
  margin: auto;
  font-family: 'OpenSans', sans-serif;
}

.courses p {
  width: 100%;
  margin: auto;
  font-weight: 300;
  line-height: 1.5;
  padding: 0.5rem;
}

.course-tabs {
  display: none;
}

.thesis.container {
  max-width: 100%;
  margin: auto;
  padding: 2rem 0rem;
  background-color: #f5f7fa;
}

.thesis.container h1 {
  font-family: 'OpenSans', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 2rem;
}

.thesis-content {
  max-width: 100%;
  margin: auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.thesis-info {
  width: 60%;
  margin: auto;
  padding: 1.5rem;
}

.thesis-info video {
  max-width: 100%;
  margin: auto;
}

.thesis-info h2 {
  padding-top: 1rem;
  font-family: 'OpenSans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.thesis-info p {
  width: 100%;
  margin: auto;
  font-weight: 300;
  padding-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

.exhibit-container {
  max-width: 40%;
  display: block;
}

.exhibit-content {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
}

.exhibit-content:hover {
  background-color: #a9bacb;
  transition: background-color 100ms linear;
}

.exhibit-content img {
  width: 35%;
  margin: auto;
  padding: 1.5rem 2rem;
}

.exhibit-info {
  width: 65%;
  margin: auto;
  align-items: center;
  padding: 0.25rem 0rem;
}

.exhibit-info h2 {
  padding: 0.5rem;
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.exhibit-info p {
  width: 100%;
  padding: 0.5rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-top: 2px solid #4c9ed9;
  padding: 1rem;
  margin: auto;
}

.copyright p {
  text-align: left;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 800px) {
  header .container {
    display: block;
    justify-content: center;
    max-width: 100%;
  }

  header .name {
    display: none;
  }

  .nav-content li {
    display: none;
  }

  .logo {
    display: block;
    justify-content: center;
    max-wdith: 10%;
  }

  header .mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 0rem;
    padding: .5rem;
    max-width: 90%;
  }

  .banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .banner img {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .headline-container {
    width: 100%;
  }

  .headline h1 {
    font-size: 2.2rem;
    line-height: 1.1;
    margin: 1rem;
  }

  .headline h2 {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 1rem;
  }

  .headline p {
    margin: 1rem;
  }

  .main-info {
    display: none;
  }

  .info-container {
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .desktop img {
    display: none;
  }

  .info-content .mobile {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .info-content .mobile img {
    max-width: 100%;
  }

  .info-content .info-text {
    width: 100%;
    padding: 1rem;
  }

  .course.container {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .course-content {
    display: block;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    justify-content: center;
  }

  .course.container h1 {
    font-size: 2.2rem;
  }

  .courses img {
    display: none;
  }

  .courses h2 {
    display: none;
  }

  .courses .title {
    display: none;
  }

  .courses p {
    display: none;
  }

  .course-tabs {
    width: 85%;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .course-tabs h3 {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #fff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .thesis.container h1 {
    font-size: 2.2rem;
    padding: 0rem;
  }

  .thesis-content .thesis-info {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .thesis-info video {
    width: 100%;
  }

  .thesis-info h2 {
    display: none;
  }

  .thesis-info p {
    display: none;
  }

  .exhibit-container {
    display: none;
  }

}
