html {
  font-size: 16px;
}

head {
  display: none;
}

link {
  dislpay: none;
}

title {
  display: none;
}

body {
  font-family: 'Tinos', serif;
  font-size: 16px;
}

header {
  display: flex;
  background-color: white;
  height: 4rem;
  width: 100%;
  margin: auto;
  position: fixed;
  border-bottom: 2px solid #4c9ed9;
}

header .container {
  display: flex;
  max-width: 100%;
  margin: auto;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: auto;
}

nav li {
  display: inline-flex;
  margin: 0rem 1rem;
  padding-right: 1.5 rem;
}

a {
  text-decoration: none;
  padding: .5rem;
  text-align: left;
}

.name {
  display: flex;
  align-items: center;
}

#name1 {
  font-weight: 700;
  color: #1d4f73;
}

#name2 {
  font-weight: 500;
  color: #000000;
}

ol, ul {
  list-style: none;
}

.nav-content li {
  display: inline-block;
  flex-wrap: wrap;
}

.container {
  max-width: 100%;
  margin: auto;
  background-color: #a9bacb;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner img {
  margin: 2rem;
  padding-top: 4rem;
  width: 60%;
}

.main.container {
  display: flex;
  max-width: 100%;
  margin: auto;
  padding: 2rem 0rem;
  background-color: #fff;
}




@media only screen and (min-width: 1024px) {
  header .mobile {
    display: none;
  }
}
